In [4]:
import numpy as np
import pandas as pd

In [5]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [6]:
df_train.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,28.500000,7.2292,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,1,0,0
1,1,27.000000,10.5000,0,1,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
2,1,29.699118,16.1000,0,0,1,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
3,0,29.699118,0.0000,1,0,0,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1
4,0,17.000000,8.6625,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [7]:
print("Training Data Shape: ",df_train.shape)
print("Test Data Shape :",df_test.shape)

Training Data Shape:  (712, 25)
Test Data Shape : (179, 25)

In [8]:
train_x = df_train.drop(columns =['Survived'],axis =1)
train_y = df_train['Survived']

In [9]:
test_x = df_test.drop(columns =['Survived'],axis =1)
test_y = df_test['Survived']

In [10]:
from sklearn.svm import SVC

In [11]:
lr = SVC()

In [19]:
lr.fit(train_x,train_y)

C:\Users\Flash\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [20]:
preds_y = lr.predict(test_x)

In [21]:
from sklearn.metrics import accuracy_score,confusion_matrix,roc_curve,roc_auc_score

In [22]:
accuracy_score(test_y,preds_y)

0.7206703910614525

In [23]:
confusion_matrix(test_y,preds_y)

array([[90, 27],
       [23, 39]], dtype=int64)

In [24]:
roc_curve(test_y,preds_y)

(array([0.        , 0.23076923, 1.        ]),
 array([0.        , 0.62903226, 1.        ]),
 array([2, 1, 0], dtype=int64))

In [25]:
print('Intercept of model',lr.intercept_)

Intercept of model [0.0750369]

In [26]:
print("Auc Score :",roc_auc_score(test_y,preds_y))

Auc Score : 0.6991315136476426

## Save Model

In [27]:
import pickle

In [28]:
filename = 'SVC_Model.sav'
pickle.dump(lr, open(filename, 'wb'))

## Load Model

In [29]:
import joblib

In [30]:
load_model = joblib.load(filename)

In [31]:
save_y = load_model.predict(test_x)