In [6]:
import numpy as np
import pandas as pd

In [7]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [8]:
df_train.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,28.500000,7.2292,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,1,0,0
1,1,27.000000,10.5000,0,1,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
2,1,29.699118,16.1000,0,0,1,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
3,0,29.699118,0.0000,1,0,0,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1
4,0,17.000000,8.6625,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [9]:
print("Training Data Shape: ",df_train.shape)
print("Test Data Shape :",df_test.shape)

Training Data Shape:  (712, 25)
Test Data Shape : (179, 25)

In [10]:
train_x = df_train.drop(columns =['Survived'],axis =1)
train_y = df_train['Survived']

In [11]:
test_x = df_test.drop(columns =['Survived'],axis =1)
test_y = df_test['Survived']

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
lr = DecisionTreeClassifier()

In [24]:
lr.fit(train_x,train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [25]:
preds_y = lr.predict(test_x)

In [26]:
from sklearn.metrics import accuracy_score,confusion_matrix,roc_curve,roc_auc_score

In [27]:
accuracy_score(test_y,preds_y)

0.770949720670391

In [28]:
confusion_matrix(test_y,preds_y)

array([[90, 27],
       [14, 48]], dtype=int64)

In [32]:
print("Auc Score :",roc_auc_score(test_y,preds_y))

Auc Score : 0.7717121588089328